.admin-menu {
  display: flex;
  flex-direction: column;
}

.admin-menu > .top {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #21C9AB;
}

.top > button {
  flex: 1;
  background-color: white;
  border: none;
  width: 50%;
  height: 24px;
  border-radius: 5px;
}

.top > button:hover {
  cursor: pointer;
}

.admin-menu > .bottom {
  margin: 4px;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

button.true {
  background-color: #EEEEEE;
}
