/*light: #EEEEEE*/
/*medium: #C1C1C1*/
/*dark: #63666A*/
/*teal: #21C9AB*/

html {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #63666A;
}

.app-container {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    /*top: 20%;*/
}

main > .loading-animation-container {
    margin-top: 70px;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    height: 30px;
    background-color: #21C9AB;
    color: white;
    border: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
select,
.btn-primary {
    font-size: 16px !important;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}