/*light: #EEEEEE*/
/*medium: #C1C1C1*/
/*dark: #63666A*/
/*teal: black*/

@font-face {
  font-family: 'varsity';
  src: url('../fonts/varsity_regular.woff') format('woff2')
}

.temp-login-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

html {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px !important;
  -webkit-transform: translate3d(0, 0, 0);
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.center {
  margin: auto;
}

main {
  position: relative;
  /*top: 20%;*/
}

button:focus {
  outline:0;
}

.btn:hover,
.btn-primary:hover,
.button:hover {
  cursor: pointer;
}

.btn-primary {
  height: 30px;
  background-color: black;
  color: white;
  border: none;
}

.btn-primary.danger {
  background-color: red;
}

textarea,
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
select,
.btn-primary {
  font-size: 16px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
select {
  -webkit-appearance: none;
  border-radius: 0;
}

.roll-head {
  margin: 2px;
}

.main-logo-container {
  width: 100vw;
  position: absolute;
  top: 180px;
  opacity: 0.10;
}

.main-logo {
  width: 100%;
  max-width: 400px
}

.main-logo-container.bold {
  opacity: 1;
}

@media (max-width: 450px) {
  .top>button {
    font-size: 8px;
  }
}