.class-card {
  margin-bottom: 2px;
  border-bottom: 1px solid #EEEEEE;
  height: 200px;
  padding: 10px;
}

.class-card > .half {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.class-card > .half > .title {
  margin: 1px;
  border-right: 1px solid #21C9AB;
  border-bottom: 1px solid #21C9AB;
  padding-bottom: 5px;
}

.class-card > .half > .teacher, .date {
  font-size: 12px;
  margin: 5px 0px 0px 0px;
}

.class-card > .half > .group {
  font-size: 12px;
  margin: 1px;
}
