.class-card {
  margin-bottom: 2px;
  padding: 10px;
}

.class-card:nth-child(odd) {
  background-color: #FBFFFB;
}

.class-card > .half {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.title {
  margin: 1px;
  padding: 5px 0px;
  background: #21C9AB;
  color: white;
  font-size: 14px;
}

.title.date-top {
  background: transparent;
  color: #63666A;
}

.class-card > .half > .teacher, .location {
  font-size: 12px;
}

.class-card > .half > .date {
  font-size: 12px;
  margin: 0px;
}

.class-card > .half > .group {
  font-size: 10px;
  margin: 0px;
  display: inline-block;
}

.parallelogram {
  border-radius: 7px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

.parallelogram > div {
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}
