.class-card {
  padding: 10px;
  display: flex;
}

.class-card-container {
  border-bottom: 1px solid #C1C1C1;
}

.class-card-container:nth-child(even) {
  background-color: rgba(128,128,128,0.05);
}

.class-card > .half {
  vertical-align: top;
  flex: 1;
  display: flex;
  min-height: 100px;
  flex-direction: column;
}

.class-card > .small {
  flex: 0;
  display: flex;
  flex-direction: column;
}

.small > .fa {
  flex: 1;
  margin-bottom: 10px;
  font-size: 24px;
  color: #21C9AB;
}

.small > .fa:hover {
  cursor: pointer;
}

.small > .fa:hover {
  cursor: pointer;
}

.title {
  margin: 1px;
  padding: 5px 0px;
  font-size: 14px;
}

.title.date-top {
  background: transparent;
  color: #63666A;
}

.class-card > .half > .teacher, .location {
  font-size: 12px;
  margin: 4px;
}

.class-card > .half > .date {
  font-size: 12px;
  margin: 0px;
}

.class-card > .half > div > .group {
  font-size: 10px;
  margin: 0px;
  display: inline-block;
}

.confirm-delete {
  background: #EEEEEE;
  padding: 12px;
}

.btn-confirm-delete {
  background: #63666A;
  color: white;
  border: none;
  margin: 4px;
  width: 100px;
  height: 30px;
  font-size: 12px;
}

.parallelogram {
  font-size: 14px;
  border-bottom: 1px solid #21C9AB;
}

.button-row {
  display: flex;
  width: 130px;
  margin: 20px auto 0px auto;
}
