.form > input[type="text"], input[type="password"], input[type="email"],
.row > .sub > .rdt > input,
.row > .sub > .check-container {
  border: none;
  width: 100%;
  height: 30px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 16px;
  background-color: white;
  color: #63666A;
}

.row > .sub {
  margin: auto;
  margin-bottom: 25px;
  width: 88px;
}

.row > .sub > div {
  font-size: 10px;
}

.check-container {
  display: flex;
  margin-top: 4px;
}

input[type="checkbox"] {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > .sub.large {
  flex: 1;
}

.row > .sub.small {
  flex: 0;
  margin-right: -3px;
}

.row > .sub > span {
  font-size: 12px;
}

.gender-list {
  text-align: center;
  text-align-last: center;
  background-color: white;
  color: #63666A;
  border-radius: 0;
  padding-left: 10px;
}

.form-container,
.emergency-contact-form-container {
  flex: 1;
  background-color: #EEEEEE;
  border-radius: 5px;
}

.emergency-contact-form-container {
  padding-top: 8px;
}

.emergency-contact-form-container > h1 {
  margin: 0;
}

.form {
  margin-bottom: 0px;
  padding: 14px;
  border-radius: 3px;
}

.photo-btn-container {
  padding: 14px 14px 0px 14px;
}

.btn-log {
  width: 100%;
  font-size: 14px;
}

.group-form {
  background: #EEEEEE;
  margin-top: 6px;
}

.btn-group {
  margin-top: 12px;
  width: 180px;
}

.role-form {
  background-color: #EEEEEE;
  margin-top: 6px;
}

.role-select {
  margin: 0;
  text-align: center;
  text-align-last: center;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-select {
  margin: 10px;
  display: inline-block;
  font-size: 25px;
  border-bottom: 3px solid #EEEEEE;
}

.form-select:hover {
  cursor: pointer;
}

.form-select.true {
  border-bottom: 3px solid #21C9AB;
}

.error {
  margin-top: 8px;
  color: red;
}
