.form > input[type="text"], input[type="password"],
.row > .sub > .rdt > input,
.row > .sub > .check-container {
  border: none;
  width: 100%;
  height: 30px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 16px;
  background-color: white;
  color: #63666A;
}

.check-container {
  display: flex;
}

input[type="checkbox"] {
  margin: auto;
}

.row {
  display: flex;
}

.row > .sub {
  flex: 1;
}

.row > .sub.small {
  flex: 0;
}

.row > .sub > span {
  font-size: 12px;
}

.gender-list {
  text-align: center;
  text-align-last: center;
  background-color: white;
  color: #63666A;
  border-radius: 0;
  padding-left: 10px;
}

.form-container,
.emergency-contact-form-container {
  flex: 1;
  background-color: #EEEEEE;
  border-radius: 5px;
}

.emergency-contact-form-container {
  padding-top: 8px;
}

.emergency-contact-form-container > h1 {
  margin: 0;
}

.form {
  margin-bottom: 0px;
  padding: 14px;
  border-radius: 3px;
}

.btn-log {
  width: 100%;
  font-size: 14px;
}

.group-form {
  border-radius: 0px;
  border-top: 1px solid #21C9AB;
  border-bottom: 1px solid #21C9AB;
}

.btn-group {
  margin-top: 12px;
}
