.location-list {
  text-align: left;
}

.location-list-location {
  font-size: 26px;
  padding: 10px 0px 10px 30px;
  border-bottom: 1px solid #EEEEEE;
}

.location-class-count {
  display: inline-block;
  background-color: #47008B;
  color: white;
  font-size: 14px;
  border-radius: 90px;
  width: 20px;
  text-align: center;
  margin-left: 6px;
  margin-top: 10px;
  position: absolute;
}
