.user-list {
  text-align: left;
}

.user-list-user {
  font-size: 16px;
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.user-list-user > .name {
  margin: 0px 20px;
  padding-top: 10px;
}

.user-list-user:hover {
  cursor: pointer;
}

.tiny-photo {
  margin-right: 10px;
}
.roll-call-row {
  display: flex;
}

.roll-active {
  color: #47008B;
}

.roll-inactive {
  color: #C1C1C1;
}

.roll-active,
.roll-inactive {
  margin: auto 10px auto 20px;
  font-size: 40px !important;
}

.roll-active:hover ,
.roll-inactive:hover {
  cursor: pointer;
}

.btn-roll-submit {
  margin: 20px auto;
  display: flex;
}

.avatar {
  font-size: 28px !important;
  padding: 7px 0px;
  color: #47008B;
}

.archived-user-icon {
  color: red !important;
}
