.user-card {
  display: flex;
  flex-direction: column;
}

.user-row {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.user-row > .icon,
.emergency-row > .icon {
  color: #21C9AB;
  margin-top: 3px;
  margin-right: 6px;
}

.user-row > .text {
}
