.user-card {
  display: flex;
  flex-direction: column;
}

.user-row {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.user-row > .icon,
.emergency-row > .icon {
  color: #4BC3CF;
  margin-top: 3px;
  margin-right: 6px;
}

.user-bio {
  border: 2px solid #EEEEEE;
  width: 300px;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: left;
  white-space: pre-wrap;
}
