.user-menu {
  display: flex;
  flex-direction: column;
}

.user-menu > .top {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #47008B;
}

.user-menu > .bottom {
  margin: 4px;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.warning {
  color: red;
}
